body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, hsl(280, 34%, 41%), #fad0c4);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.card {
    background: rgb(255, 255, 255);
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 90px 50px rgba(0,0,0,0.2);
    position: relative;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #625eb9;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
}

button {
    padding: 12px 28px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.yes {
    background-color: red;
    color: white;
}

.no {
    background-color: #ccc;
    color: #333;
    transition: transform 0.6s ease;
    
}

#response {
    margin-top: 25px;
    font-size: 20px;
    color: #ff4d6d;
}


.heart { 
    position: absolute;
    color: #71051a;
    font-size: 20px;
    animation: float 1.5s ease-out forwards;
    pointer-events: none;
}

@keyframes float {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(1.8);
    }
}
@media (max-width: 600px) {

    .card {
        width: 90%;
        padding: 25px 20px;
    }

    h1 {
        font-size: 20px;
        line-height: 1.4;
    }

    .buttons {
        flex-direction: column;
        gap: 20px;
    }

    button {
        width: 100%;
        font-size: 16px;
        padding: 14px;
    }

    #response {
        font-size: 18px;
    }
}

.pulse {
    animation: pulseAnim 0.8s infinite;
}

@keyframes pulseAnim {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
    }
    50% {
        transform: scale(1.15);
        box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.3);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
    }
}

